# Ignore the virtual environment directory
.venv/

# Ignore the config file
db_config.pyS
test.ipynb
debug.py
.env

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Add the following:
config/.env
__pycache__/
*.pyc
.pytest_cache/
