# Python
__pycache__/

# Virtual Environments
.venv/

# Development and IDE files

*.swp
*.swo
.DS_Store

# Project specific
db_config.py
test.ipynb
debug.py
.env
invalid_json_dumps/

# Logs and databases
*.log
